h1{
    color: white;
}

h2{
    text-decoration: underline;
    color:#59C0E4;
}

h3{
    color: white;
}

#heading_div{
    width: 100%;
    text-align: center;
}

#container_outline_box{
    margin: auto;
    width: 80%;
    height: fit-content;
    border:1px solid white;
    text-align: center;
}

pre{
    border-radius: 1rem;
    background-color: #161B22;
}

code{
    color: white;
    text: white;
    font-size: .95rem !important;
    overflow-wrap: normal;
}

hr{
    background-color: white;
}