[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
flask = "*"
flask-session = "*"
datetime = "*"
requests = "*"
botocore = "*"
boto3 = "*"
zipfile36 = "*"
psycopg2 = "*"
py-bcrypt = "*"
flask-migrate = "*"
itsdangerous = "*"
gunicorn = "*"
python-dotenv = "*"
oauthlib = "*"
redis = "*"
beautifulsoup4 = "*"
colorama = "*"
flask-mail = "*"
install = "*"
google-analytics-data = "*"
python-engineio = "*"
python-socketio = "*"
flask-socketio = "*"
sendgrid = "*"
gevent-websocket = "*"
eventlet = "*"
selenium = "*"
flask-cors = "*"
flask-login = "*"
alembic = "*"
aiohttp = "*"
asyncio = "*"

[dev-packages]

[requires]
python_version = "3.10"
