[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.8.1"
boto3 = "==1.26.16"
botocore = "==1.29.16"
certifi = "==2021.10.8"
charset-normalizer = "==2.0.12"
click = "==8.0.4"
colorama = "==0.4.4"
distlib = "==0.3.4"
filelock = "==3.6.0"
flask = "==2.0.3"
flask-migrate = "==4.0.0"
flask-s3 = "==0.3.3"
flask-sqlalchemy = "==2.5.1"
greenlet = "==1.1.2"
gunicorn = "==20.1.0"
idna = "==3.3"
itsdangerous = "==2.1.1"
jinja2 = "==3.0.3"
jmespath = "==1.0.1"
mako = "==1.2.4"
markupsafe = "==2.1.0"
pipenv = "==2022.1.8"
platformdirs = "==2.5.1"
pymysql = "==1.0.2"
python-dateutil = "==2.8.2"
requests = "==2.27.1"
s3transfer = "==0.6.0"
six = "==1.16.0"
sqlalchemy = "==1.4.32"
urllib3 = "==1.26.8"
virtualenv = "==20.13.3"
virtualenv-clone = "==0.5.7"
werkzeug = "==2.0.3"
pip = "*"
flask-session = "*"
psycopg2 = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.10"
