[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2021.10.8"
charset-normalizer = "==2.0.12"
click = "==8.0.4"
colorama = "==0.4.4"
distlib = "==0.3.4"
filelock = "==3.6.0"
greenlet = "==1.1.2"
idna = "==3.3"
itsdangerous = "==2.1.1"
pipenv = "==2022.1.8"
platformdirs = "==2.5.1"
requests = "==2.27.1"
six = "==1.16.0"
urllib3 = "==1.26.8"
virtualenv = "==20.13.3"
virtualenv-clone = "==0.5.7"
Flask = "==2.0.3"
Flask-SQLAlchemy = "==2.5.1"
Jinja2 = "==3.0.3"
MarkupSafe = "==2.1.0"
PyMySQL = "==1.0.2"
SQLAlchemy = "==1.4.32"
Werkzeug = "==2.0.3"
flask-s3 = "*"
boto3 = "*"
flask-migrate = "*"
pip = "*"
psycopg2-binary = "*"
install = "*"
python-dotenv = "*"
awscli = "*"
botocore = "*"
gunicorn = "*"
psycopg2 = "*"
flask-session = "*"
tasks = "*"
oauthlib = "*"
pyopenssl = "*"
flask-login = "*"
uuid = "*"
zipfile36 = "*"
glob2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
