body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  /* --accent-color: rgb(204, 0, 0);
  --lightest-gray: rgb(244, 244, 244);
  --light-gray: rgb(144, 144, 144);
  --medium-gray: rgb(96, 96, 96);
  --dark-gray: rgb(13, 13, 13); */
  --header-height: 56px;
  --animation-duration: 200ms;
  --animation-timing-curve: ease-in-out;
}

.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--dark-gray);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .4);
  padding: 0 .5rem;
  height: fit-content;
  padding: .5rem;
}

.menu-icon-btn {
  background: none;
  border: none;
  padding: 0;
}

.menu-icon {
  width: 25px;
  height: 25px;
  fill: var(--medium-gray);
  cursor: pointer;
}

.menu-icon:hover {
  fill: var(--dark-gray);
}

.sidebar {
  flex-shrink: 0;
  overflow: hidden;
  width: 75px;
  border-right: 1px solid var(--light-gray);
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--header-height));
  margin-top: -1rem;
  align-items: center;
  justify-content: stretch;
  transition: width var(--animation-duration) var(--animation-timing-curve);
  position: sticky;
  left: 0;
  top: var(--header-height);
}

.sidebar .top-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.middle-sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  margin: 1rem 0;
}

.middle-sidebar,
.bottom-sidebar {
  width: 100%;
}

.container {
  display: flex;
  margin: 0;
}

.content {
  margin: 1rem;
}

.sidebar-icon {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}

.sidebar.open {
  width: 200px;
}

.sidebar .top-sidebar {
  height: 30px;
}

.sidebar.open .top-sidebar {
  height: 125px;
}

.sidebar .top-sidebar .hidden-sidebar {
  text-align: center;
  width: 100%;
}