#signupfog {
    padding-top:4%;
    height: 100%;
    overflow: hidden;
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


#loginfog {
    padding-top:11%;
    height: 100%;
    overflow: hidden;
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


#form-group{
    margin:auto;
    text-align:center;
    background-color:white;
    width: 50rem;
    border:10px solid #d6d6d6;
    border-radius: 12px;
}


.form-element{
    margin:auto;
    padding:1rem;
    width: fit-content;
}

.form-control{
    width: 20rem;
    height: 3rem;
    border: 1px solid #999999;
    border-radius: 12px;
    padding:1rem;
    margin:0;
    font-size:18

}

::placeholder {
    font-size:18;
}

.btn-primary{
    background-color: #40798C; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius:12px;
}
