<html>
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" role="module" style="padding:30px 20px 40px 30px" bgcolor="#06002E">
    <tbody>
    <tr role="module-content">
        <td height="100%" valign="top"><table width="550" style="width:550px;border-spacing:0;border-collapse:collapse;margin:0px 0px 0px 0px" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor="" class="m_1330759930917551085column">
    <tbody>
        <tr>
        <td style="padding:0px;margin:0px;border-spacing:0"><table class="m_1330759930917551085wrapper" role="module" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed">
    <tbody>
    <tr>
        <td style="font-size:6px;line-height:10px;padding:0px 0px 0px 0px" valign="top" align="left">
        <img class="m_1330759930917551085max-width CToWUd" border="0" style="display:block;color:#000000;text-decoration:none;font-family:Helvetica,arial,sans-serif;font-size:16px" width="70" alt="" src="https://ci3.googleusercontent.com/proxy/jMDCVM90aVsz0Pi6xVCaeOH6nQ2LaOBr4nt00eV9ZwGRCBCKDzw8sUwGx59Fsd1M6KroVoEQvW__Qo7_aa3lPZKUISSZtNaZWNQqVhcs0sPklGPibr614v2dwldol_OewWfo7PZBZ9730aFHUKWLyOTLIJYzjVHSImWPnU-olZHiRGweug=s0-d-e1-ft#http://cdn.mcauto-images-production.sendgrid.net/f0fe6700a560b8b7/10a37bc2-96ae-4e33-a71d-2e62c472bd8c/426x586.png" height="96" data-bit="iit">
        </td>
    </tr>
    </tbody>
</table><table role="module" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed">
    <tbody>
    <tr>
        <td style="padding:50px 0px 18px 0px;line-height:36px;text-align:inherit" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family:inherit;text-align:inherit"><span style="color:#ffffff;font-size:40px;font-family:inherit">Thank you For Signing Up to Study Squawk</span></div><div></div></div></td>
    </tr>
    </tbody>
</table><table role="module" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed">
    <tbody>
    <tr>
        <td style="padding:18px 20px 20px 0px;line-height:24px;text-align:inherit" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family:inherit;text-align:inherit"><span style="font-size:24px;color:#ffffff">Verify Below!</span></div><div></div></div></td>
    </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" role="module" style="table-layout:fixed" width="100%">
    <tbody>
        <tr>
        <td align="left" bgcolor="" style="padding:0px 0px 0px 0px">
            <table border="0" cellpadding="0" cellspacing="0" class="m_1330759930917551085wrapper-mobile" style="text-align:center">
            <tbody>
                <tr>
                <td align="center" bgcolor="#3785ff" style="border-radius:6px;font-size:16px;text-align:left;background-color:inherit">
                <a href = "{{link}}"style="background-color:#3785ff;border:1px solid #000000;border-color:#000000;border-radius:0px;border-width:1px;color:#ffffff;display:inline-block;font-size:18px;font-weight:normal;letter-spacing:0px;line-height:normal;padding:12px 18px 12px 18px;text-align:center;text-decoration:none;border-style:solid;font-family:inherit">Click ME</a>
                </td>
                </tr>
            </tbody>
            </table>
        </td>
        </tr>
    </tbody>
    </table></td>
        </tr>
    </tbody>
    </table></td>
    </tr>
    </tbody>
</table>
</html>