<!DOCTYPE html>
{% block head %}
    <script type = "text/javascript" src = "/static/scripts/coursemainscript.js"></script>
    <script>
        async function getcourseposts(course){
            const response = await fetch('/getcourseposts', {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                headers: {
                    'Content-Type': 'application/json'
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: JSON.stringify(course) // body data type must match "Content-Type" header
            })

            const data = await response.json()
            console.log("hello")
            loadposts(data)
        }
        var course = "{{course}}"
        getData()
        getcourseposts(course)

    </script>
    
{% endblock %}

{% extends "layout.html" %}
{% block title %}{{ course }}{% endblock %}
{% block heading %}
    <div id = "titlediv">
        <h1 id = "title">
            {{ course }} | Feed
        </h1>
    </div>
{% endblock %}

{% block postbutton %}
<li>
    <div id = "buttonbox">
        <a id = "post-button", href ="{{ course }}/postcreation", class = "button"> Create a Post!</a>
    </div>
    <div id = "buttonbox">
        <a id = "resouces-button", href ="/resources/{{ course }}", class = "button"> Resources</a>
    </div>
</li>

{% endblock %}

{% block body %}
<div id = "postscontainer"></div>
{% endblock %}