<!DOCTYPE html>
<head>
    <link href="/static/mainstyles/coursemain.css" rel="stylesheet">
</head>
{% extends "layout.html" %}
{% block maintitle %} | {{ course }}{% endblock %}
{% block title %}{{ course }}{% endblock %}
{% block heading %}
    <div id = "titlediv">
        <h1 id = "title">
            {{ course }}
        </h1>
    </div>
{% endblock %}

{% block postbutton %}
<li>
    <div id = "postbuttonbox">
        <a id = "post-button", href ="{{ course }}/postcreation"> Create a Post!</a>
    </div>
</li>
{% endblock %}

{% block body %}
    {% for post in post %}
        <div class = "postdiv" type="submit" value = "{{ post[3] }}" onClick="document.forms['post-form{{ post[3] }}'].submit();">
            <!--each post is a submit button with a form -->
            <form name = "post-form{{ post[3] }}", class = "postbuttonform", action = "/{{ course }}/post/{{ post[0] }}", method = "POST">
                <input type="hidden" id="postId" name="postId" value="{{ post[0] }}">
            </form>
            <h5>
                {{ course }}
            </h5>
            <h3>
                {{ post[3] }}
            </h3>
            <!--each post is a submit button with a form -->
        </div>
    {% endfor %}
{% endblock %}