<!DOCTYPE html>
<head>
    <link href="/static/mainstyles/coursemain.css" rel="stylesheet">
    <script type = "text/javascript" src = "/static/scripts/coursemainscript.js"></script>
</head>
{% extends "layout.html" %}
{% block maintitle %} | {{ course }}{% endblock %}s
{% block title %}{{ course }}{% endblock %}
{% block heading %}
    <div id = "titlediv">
        <h1 id = "title">
            {{ course }}
        </h1>
    </div>
{% endblock %}

{% block postbutton %}
<li>
    <div id = "postbuttonbox">
        <a id = "post-button", href ="{{ course }}/postcreation"> Create a Post!</a>
    </div>
</li>
{% endblock %}

{% block body %}
<script>
    async function getcourseposts(course){
        const response = await fetch('/getcourseposts', {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: JSON.stringify(course) // body data type must match "Content-Type" header
        })
        const data = await response.json()
        console.log("hello")
        console.log(data)
        loadposts
    }
    console.log("{{course}}")
    console.log("hello")
    var course = "{{course}}"
    console.log(course)
    getcourseposts(course)
</script>

<h5>
    {{ post[2] }}
</h5>
    {% for post in post %}
        <div class = "postdiv" type="submit" value = "{{ post[3] }}" onClick="document.forms['post-form{{ post[3] }}'].submit();">
            <!--each post is a submit button with a form -->
            <form name = "post-form{{ post[3] }}", class = "postbuttonform", action = "/{{ course }}/post/{{ post[0] }}", method = "POST">
                <input type="hidden" id="postId" name="postId" value="{{ post[0] }}">
            </form>
            <h5>
                {{ course }}
            </h5>
            <h5>
                {{ post[2] }}
            </h5>
            <br>
            <h3>
                {{ post[3] }}
            </h3>
            <!--each post is a submit button with a form -->
        </div>
    {% endfor %}
{% endblock %}