{% extends "layout.html" %}
{% block head %}
<head>
    <link href="/static/mainstyles/grade_viewer.css" rel="stylesheet">
</head>
{% endblock %}

{% block title %}My Grades{% endblock %}
{% block body %}
    <div class="courses_summaries_div">
        {% for key, value in grade_summary.items() %}
            <div class="course_summary_div">
                <h2>
                    {{key}}
                </h2>
                <h4>
                    {{value[0][0]}}
                </h4>
                <h4>
                    {{value[0][1]}}
                </h4>
                <h4>
                    {{value[0][3]}}
                </h4>
                <h4>
                    {{value[0][4]}}
                </h4>
                <h4>
                    {{value[0][5]}}
                </h4>
                <h4>
                    {{value[0][6]}}
                </h4>
            </div>
        {% endfor %}
    </div>
{% endblock %}