{% extends "layout.html" %}
{% block head %}
<head>
    <link href="/static/mainstyles/grade_viewer.css" rel="stylesheet">
</head>
{% endblock %}

{% block title %}My Grades{% endblock %}
{% block body %}
    <div class="courses_summaries_div">
        {% for key, value in grade_summary.items() %}
            <div class="course_summary_div">
                <h2>
                    {{key}}
                </h2>
                <br>
                <div class="course_info_div">
                    {% for index in iterate %}
                    <div class="assignment_grades">
                        <h4>
                            {{assignment_grades[key][index][2]}}:
                        </h4>
                        <div>
                            {{assignment_grades[key][index][7]}}/{{assignment_grades[key][index][8]}}
                        </div>
                    </div>
                    {% endfor %}
                    <br>
                    <div>
                        <h4 class="grade_text">
                            Grade: {{value[0][3]}}
                        </h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}