{% extends "layout.html" %}
{% block head %}
<head>
    <link href="/static/mainstyles/grade_viewer.css" rel="stylesheet">
</head>
{% endblock %}

{% block title %}My Grades{% endblock %}
{% block body %}
    <div class="courses_summaries_div">
        {% for class in class_names %}
        <a href="/grade_viewer/{{class}}" style="display: contents;">
            <div class="course_summary_div">
                <h2>
                    {{class}}
                    
                </h2>
                <br>
                <div class="course_info_div">
                    {% if assignment_grades[class][0]|string() != "null"|string() %}
                        {% for index in range(assignment_grades[class]|length)%}
                            {% if assignment_grades[class][0][2]|string() != ""|string() %}
                                <div class="assignment_grades">
                                    <h4>
                                        {{assignment_grades[class][index][2]}}:
                                    </h4>
                                    <div>
                                        {{assignment_grades[class][index][7]}}/{{assignment_grades[class][index][8]}}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <br>
                        <div>
                            {% if grade_summary[class][0]|string() != "null"|string() %}
                            <h4 class="grade_text">
                                    Grade: {{grade_summary[class][0][3]}}
                            </h4>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}