{% extends "layout.html"%}
{% block head %}
<head>
    <link href="/static/mainstyles/grade_viewer_selected_course.css" rel="stylesheet">
    <link href="/static/mainstyles/coursemain.css">
    <script type = "text/javascript" src = "/static/scripts/grade_viewer_class.js"></script>
</head>
{% endblock %}
{% block body %}
<div class="action_bar">
    <button>
        Mode:<span id="mode_text">Viewer</span>
    </button>
    <button class="edit_mode_button">
        Edit Grade
    </button>
    <button class="add_row">
        Add Test Assignment!
    </button>
</div>
<div class ="table_grade_div">
    <table>
        <tr cellspacing ="10" class="table_headers">
            <th class = "show-desktop"><div>Date Assigned</div></th>
            <th class = "show-desktop"><div>Date Due</div></th>
            <th><div>Assignment</div></th>
            <th><div>Category</div></th>
            <th class = "show-desktop"><div>Weight</div></th>
            <th><div>Score</div></th>
            <th><div>Total Points</div></th>
            <th class = "show-desktop"><div>Percentage</div></th>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td></td>
        </tr>
        <tbody class="Grade_Data_Table_Body">
            {% for assignment in assignment_grades %}
            <tr class="grade_assignment_data_row">
                <td class = "show-desktop">{{assignment[0]}}</td>
                <td class = "show-desktop">{{assignment[1]}}</td>
                <td>{{assignment[2]}}</td>
                <td>{{assignment[3]}}</td>
                <td  class="grade_assignment_data" id="show-desktop">{{assignment[6]}}</td>
                <td  class="grade_assignment_data">{{assignment[4]}}</td>
                <td  class="grade_assignment_data" id="show-desktop">{{assignment[5]}}</td>
                <td>{{assignment[9]}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table>
        <tr class="spaceUnder">
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <h1>
                    Grade Average
                </h1>
            </td>
            <td>
                <h2 class="grade_average">
                </h2>
            </td>
        </tr>
    </table>
</div>
{% endblock %}