{% extends "layout.html" %}
{% block head %}
<head>
    <link href="/static/mainstyles/poststyles.css" rel="stylesheet">
    <script type = "text/javascript" src = "/static/scripts/postscript.js"></script>
</head>
{% endblock %}
{% block body %}
<div class = "formdiv">
    <div style="text-align: center;">
        <h3>
            Please Enter the Information Below
        </h3>
        <h4>
            This is used to Login to your Home Access Center Account and access the information
        </h4>
    </div>
    <form action ="/grade_viewer", id = "formcenter", method = "POST" enctype=multipart/form-data>
        <br>
        <br>
        <input id = "formtitleinput", type = "text", name = "gradeusername", placeholder = "Username to Login to HAC" >
        <br>
        <br>
        <input id = "formtitleinput", type = "text", name = "gradepassword", placeholder = "Password to Login to HAC" >
        <br>
        <br>
        <div>
            <div style = "margin:auto">
                <input type="submit", id = "submitbutton" value = "Submit" style = "margin-left:45%"></submit>
            </div>
        </div>
    </form>
</div>
{% endblock %}