{% extends "layout.html" %}

{% block searchbar %}
<li>
    <div id = "searchbar-box">
        <form action = "/homepage" method = "POST">
            <input autocomplete = "yes" name = "name" class = "form" type = "text" id="tags" placeholder = "Choose a Class!">
            <script>
                  $( function() {
                    var availableTags = [
                        {% for courses in courses %}
                            "{{ courses }}",
                        {% endfor %}
                    ];
                    $( "#tags" ).autocomplete({
                      source: availableTags
                    });
                    } );
            </script>
            <input id = "submitsearch" type = "submit">
        </form>
    </div>
</li>
{% endblock %}
