{% extends "layout.html" %}
{% block body %}
<!-- <script>
    async function getcourseposts(course){
        const response = await fetch('/getcourseposts', {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: JSON.stringify(course) // body data type must match "Content-Type" header
        })
        const data = await response.json()
        console.log("hello")
        console.log(data)
        loadposts(data)
    }
    var course = "homepage"
    console.log(course)
    getcourseposts(course)
</script>
<div id = "postscontainer"></div> -->

{% for postings in postings %}
<div class = "postdiv" type="submit" value = "{{ postings.id }}" onClick="document.forms['post-form{{ postings.id }}'].submit();">
    <!--each post is a submit button with a form -->
    <form name = "post-form{{ postings.id }}", class = "postbuttonform", action = "/{{ postings.course }}/post/{{ postings.id }}", method = "POST">
        <input type="hidden" id="postId" name="postId" value="{{ postings.id }}">
    </form>
    <h5>
        {{ postings.course }}
    </h5>
    <h3>
        {{ postings.title }}
    </h3>
    <!--each post is a submit button with a form -->
</div>
{% endfor %}
{% endblock %}