
<link href="/static/mainstyles/introstyles.css" rel="stylesheet">
<link href="/static/minorstyles/signuplogin.css" rel="stylesheet">
<link href="/static/images/nerdpic.png" rel="icon">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Javascript -->
<script type="text/javascript" {{ url_for('static', filename='app.js')}}></script>
<script type="text/javascript">
    function signupon() {
        document.getElementById("signupfog").style.display = "block";
        var x=window.scrollX;
        var y=window.scrollY;
        window.onscroll=function(){window.scrollTo(x, y);};
    }

    function loginon() {
        document.getElementById("loginfog").style.display = "block";
        var x=window.scrollX;
        var y=window.scrollY;
        window.onscroll=function(){window.scrollTo(x, y);};
    }

    function signupoff() {
        document.getElementById("signupfog").style.display = "none";
    }

    function loginoff(){
        document.getElementById("loginfog").style.display = "none";
    }

</script>
<!-- Javascript -->
<title>Welcome!</title>
<!-- Navigation Bar -->
<div id = "divtitlegrouping">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div id = "navbox">
        <ul id = "horizontal-list">
            <li id="signup-item"><a onclick="signupon()"> Sign Up</a></a></li>
            <li id="login-item"><a onclick="loginon()"> Login</a></a></li>
        </ul>
    </div>
    <div id = "titlediv">
        <h1 id = "title"><a id = "returnhome" href = "/">Studyist</a></h1>
    </div>
</div>
<!-- Navigation Bar -->


<!-- Images -->
<div class = "crop">
    <img src="static/images/homepage/a.jpg">
</div>
<!-- Images -->

<!-- Forms for signup and login -->
<div id = signupfog onclick= "signupoff()">
    <div id = form-group onclick = "signupon(); event.cancelBubble=true;">
        <h1>Signup</h1>
        <form id = "signupform" action = "/" method ="POST">
            <input type="hidden" name="form-name" value="signupform">
            <div class="form-element">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            </div>
            <div class="form-element">
                <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="text">
            </div>
            <div class="form-element">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <div class="form-element">
                <input class="form-control" name="confirmation" placeholder="Confirmation" type="password">
            </div>
            <br>
            <br>
            <div class="form-element">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>

<div id = loginfog onclick="loginoff()">
    <div id = form-group onclick = "loginon(); event.cancelBubble=true;">

        <h1> Login </h1>
        <form id = loginform action="/" method="POST">
            <input type="hidden" name="form-name" value="loginform">
            <div class="form-element">
                <input autocomplete="off" autofocus class="form-control" name="email" placeholder=" Email" type="text">
            </div>
            <div class="form-element">
                <input class="form-control" name="password" placeholder=" Password" type="password">
            </div>
            <br>
            <div class="form-element">
                <button class="btn-primary" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>
<!-- Forms for signup and login -->

