
<link href="/static/mainstyles/introstyles.css" rel="stylesheet">
<link href="/static/minorstyles/signuplogin.css" rel="stylesheet">
<link rel="png" href="/static/mainstyles/Intropage_gradients/1.png">
<link href="/static/images/nerdpic.png" rel="icon">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Javascript -->
<script type="text/javascript" src = "static/scripts/introscript.js"></script>
<!-- Javascript -->
<title>Welcome!</title>
<!-- Navigation Bar -->
<div id = "divtitlegrouping">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div id = "titlediv">
        <h1 id = "title"><a id = "returnhome" href = "/">StudySquawk</a></h1>
    </div>
    <div id = "navbox">
        <ul id = "horizontal-list">
            <li id="signup-item"><a onclick="signupon()"> Sign Up</a></a></li>
            <li id="login-item"><a onclick="loginon()"> Login</a></a></li>
        </ul>
    </div>
</div>
<!-- Navigation Bar -->


<!-- Images -->
<!-- <div class="crop"></div> -->
<div id="introbox">
    <div id = "introphrase">
        <h1>
            Join our educational social network, where students support each other, share knowledge, and excel together.
        </h1>
    </div>
    <div id="background_parrot_image_div">
        <div style="width: fit-content; height: fit-content;">
            <img id="parrot_background_image" src="/static/images/Introparrots/Background parrot.jpg">
        </div>
    </div>
</div>

<div class="subsection_text_div">
    <h1 class="subsection_text" >
        Developed by a Student, For Students
    </h1>
</div>
<div class="box_system_row_div">
    <div class="content_container">
        <h1>
            Community Driven
        </h1>
        <br>
        <h4>
            The Community of Students is what makes Tucusito possible. Students can post Resources from classes and also ask questions to the community.
        </h4>
    </div>
    <div class="content_container">
        <h1>
            Learn from Past Mistakes!
        </h1>
        <br>
        <h4>
            The first rule of learning is to learn from the mistakes you make. This application helps you learn from previous student mistakes so you can be the best student you can be!
        </h4>
    </div>
    <div class="content_container">
        <h1>
            Grade Calculating
        </h1>
        <br>
        <h4>
            Accurate and saved grade calculations with automatic and up to date grades from your grade provider
        </h4>
    </div>
    <div class="content_container">
        <h1>
            Attendance 
        </h1>
        <br>
        <h4>
            Gives a detailed summary of your attedance in school
        </h4>
    </div>
</div>

<div class="subsection_text_div">
    <h1 class="subsection_text" >
        Start your Education with a Community!
    </h1>
    <a onclick="signupon()">
        <h2>
            Sign Up!
        </h2>
    </a>
</div>
<footer>
    <div class="box_system_row_div">
        <div id="social_div">
            <h1>
                Email
            </h1>
            <a href="mailto: email">
                <h4>
                    carlsbolivar@gmail.com
                </h4>
            </a>
        </div>
        <div id="social_div">
            <h1>
                Instagram
            </h1>
            <a href="https://www.instagram.com/carl._.bolivar/">
                <h4>
                    carl._.bolivar
                </h4>
            </a>
        </div>
        <div id="social_div">
            <h1>
                LinkedIn
            </h1>
            <a href="https://www.linkedin.com/in/carl-bolivar-1474921b5/">
                <h4>
                    Carl Bolivar
                </h4>
            </a>
        </div>
    </div>
</footer>

<!-- Images -->

<!-- Forms for signup and login -->
<div id = signupfog onclick= "signupoff()">
    <div id = form-group onclick = "signupon(); event.cancelBubble=true;">
        <div class="mobile-form-div">
            <div id ="exit-form">
                <svg  onclick= "signupoff()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
            </div>
            <h1>Signup</h1>
            <a class="button" href="/login">
                <button class="google_auth_btn">
                    <div class="google_auth_div">
                        <img src="/static/images/login_images/google-logo.jpg">
                        <h4>
                            Google Signup
                        </h4>
                    </div>
                </button>
            </a>
            <form id = "signupform" action = "/" method ="POST">
                <input type="hidden" name="form-name" value="signupform">
                <div class="form-element">
                    <input autocapitalize = "off" autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                </div>
                <div class="form-element">
                    <input autocomplete="on" autofocus class="form-control" name="email" placeholder="Email" type="email">
                </div>
                <div class="form-element">
                    <input autocapitalize = "off" autocomplete="off" class="form-control" name="password" placeholder="Password" type="password">
                </div>
                <div class="form-element">
                    <input class="form-control" name="confirmation" placeholder="Confirmation" type="password">
                </div>
                <br>
                if you Register or Login, you agree to the following:
                <a href="/privacy_policy">
                    Privacy Policy
                </a>
                and
                <a href="/terms_and_conditions">
                    Terms and conditions
                </a>
                <br>
                <div class="form-element">
                    <button class="btn-primary" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id = loginfog onclick="loginoff()">
    <div id = form-group onclick = "loginon(); event.cancelBubble=true;">
        <div class="mobile-form-div">
            <div id ="exit-form" onclick = "loginoff()"">
                <div id = "x-element-login-div">
                    <svg id="x-element-login" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M376.6 84.5c11.3-13.6 9.5-33.8-4.1-45.1s-33.8-9.5-45.1 4.1L192 206 56.6 43.5C45.3 29.9 25.1 28.1 11.5 39.4S-3.9 70.9 7.4 84.5L150.3 256 7.4 427.5c-11.3 13.6-9.5 33.8 4.1 45.1s33.8 9.5 45.1-4.1L192 306 327.4 468.5c11.3 13.6 31.5 15.4 45.1 4.1s15.4-31.5 4.1-45.1L233.7 256 376.6 84.5z"/></svg>
                </div>
            </div>
            <h1> Login </h1>
            <a class="button" href="/login">
                <button class="google_auth_btn">
                    <div class="google_auth_div">
                        <img src="/static/images/login_images/google-logo.jpg">
                        <h4>
                            Google Login
                        </h4>
                    </div>
                </button>
            </a>
            <form id = loginform action="/" method="POST">
            <input type="hidden" name="form-name" value="loginform">
            <div class="form-element">
                <input autocapitalize = "off" autocomplete="off" autofocus class="form-control" name="email" placeholder=" Email" type="email">
            </div>
            <div class="form-element">
                <input autocapitalize = "off" autocomplete="off" class="form-control" name="password" placeholder=" Password" type="password">
            </div>
            <br>
            if you Register or Login, you agree to the following:
            <a href="/privacy_policy">
                Privacy Policy
            </a>
            and
            <a href="/terms_and_conditions">
                Terms and conditions
            </a>
            <br>
            <div class="form-element">
                <button class="btn-primary" type="submit">Login</button>
            </div>
        </form>
        </div>
    </div>
</div>
<!-- Forms for signup and login -->

