<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
	<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="/static/images/nerdpic.png" rel="icon">
	<link href="/static/images/logo.jpeg">
	<link href="/static/mainstyles/styles.css" rel="stylesheet">
	<link rel="stylesheet" href = "/static/minorstyles/autoComplete.css">
	<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/autoComplete.min.js"></script>
	{% block head %}
	{% endblock %}

</head>

<title> {% block title %}Studyist {% endblock %}</title>
{% block heading %}
{% endblock %}

{% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
          </div>
        {% endfor %}
      {% endif %}
{% endwith %}

<div id= "navbox">

	<div style = "margin:auto; display:flex;">
		<a href = "/homepage"><img id = "logo" src="/static/images/logo.png"></a>
		<li>
			<div id = "searchbar-box">
				<form action = "/homepage" method = "POST" id = "searchform">
					<div class = "autoComplete_wrapper">
						<input  dir="ltr" spellcheck="false" autocapitalize="off" autocorrect="off" autocomplete="off" name = "name" class = "form" type="text" id="autoComplete" placeholder = "Choose a Class!">
						<input id = "submitsearch" type = "submit">
					</div>
						<script>
							document.getElementById("autoComplete").addEventListener("keyup", function(event) {
								if (event.keyCode === 13) {
									document.getElementById("searchform").submit();
								}
							});

							var courses = [
									{% for courses in courses %}
										"{{ courses }}",
									{% endfor %}
								];
							const autoCompleteJS = new autoComplete({
								selector: "#autoComplete",
								data: {
									src: courses,
									cache: true,
								},
								resultsList: {
									element: (list, data) => {
										if (!data.results.length) {
											// Create "No Results" message element
											const message = document.createElement("div");
											// Add class to the created element
											message.setAttribute("class", "no_result");
											// Add message text content
											message.innerHTML = `<span>Found No Results for "${data.query}"</span>`;
											// Append message element to the results list
											list.prepend(message);
										}
									},
									noResults: true,
								},
								resultItem: {
									highlight: true
								},
								events: {
									input: {
										selection: (event) => {
											const selection = event.detail.selection.value;
											autoCompleteJS.input.value = selection;
										}
									}
								}
							});
						</script>
				</form>
			</div>
		</li>
	    {% block postbutton %}
	    {% endblock %}
	</div>
</div>
<div id = "tabbar">
	<br>
	<br>
       <div id = "tabssticktobottom">
		   <div id = "tab" class = "activetab"><b>Hello</b></div>
		   <div id = "tab" class = "disabledtab"><b>Jello</b></div>
	   </div>
</div>
<body>
	<div style = "padding: 3rem 15rem 3rem 15rem;">
		{% block body %}
		{% endblock %}

		{% block reply %}
		{% endblock %}
	</div>
</body>


