{% extends "layout.html" %}
{% block head %}
<head>
    <link href="{{ url_for('static', filename='mainstyles/meetings.css', _external=True, _scheme='scheme') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='mainstyles/introstyles.css', _external=True, _scheme='scheme') }}" rel="stylesheet">
</head>
{% endblock %}
{% block body %}
<div style="width:100%;height:100%;display: flex;justify-content: center;align-items: center;">
    <div class="login_meet">
        <h1>Welcome!</h1>
        <button>Create meeting</button>
        <button>Join Meeting</button>
        <button>Logout</button>
    </div>
</div>
{% endblock %}