<head>
    <link href="/static/mainstyles/poststyles.css" rel="stylesheet">
    <script type = "text/javascript" src = "/static/scripts/postscript.js"></script>
</head>
{% extends "layout.html" %}
{% block title %}Post Something!{% endblock %}

{% block heading %}
    <div id = "titlediv">
        <a href = "/{{ course }}" style = "text-decoration: none;">
            <h1 id = "title">
                {{ course }}
            </h1>
        </a>
    </div>
{% endblock %}
{% block body %}


<div class = "formdiv">
        <form action ="/{{ course }}", id = "formcenter", method = "POST" enctype=multipart/form-data>
            <br>
            <br>
            <input class = "form", type = "text", name = "title", placeholder = "Title" >
            <br>
            <br>
            <textarea id = "bodytext" id="text" name="text" rows="12" cols="50" placeholder="Body Text"></textarea>
            <br>
            <br>
            <label id = "uploadbutton" for="file-ip-1" value= "Upload">Upload Image</label>
            <input type="file" name = "file" id="file-ip-1" onchange="showPreview(event);" multiple>
            <br>
            <div id = "filesviewdiv">
                <ul id = "horizontal-list">

                </ul>
            </div>
            <br>
            <div>
                <div style = "margin:auto">
                    <input type="submit", id = "submitbutton" value = "Submit" style = "margin-left:45%"></submit>
                </div>
            </div>
        </form>
</div>
{% endblock %}