{% extends "layout.html" %}
{% block title %}Post Something!{% endblock %}
{% block head %}
<head>
    <link href="/static/mainstyles/poststyles.css" rel="stylesheet">
    <script type = "text/javascript" src = "/static/scripts/postscript.js"></script>
</head>
{% endblock %}
{% block heading %}
    <div id = "titlediv">
        <a href = "/{{ course }}" style = "text-decoration: none;">
            <h1 id = "title">
                {{ course }}
            </h1>
        </a>
    </div>
{% endblock %}
{% block body %}
<div class = "formdiv">
    <form action ="/{{ course }}", id = "formcenter", method = "POST" enctype=multipart/form-data>
        <input id = "formtitleinput", type = "text", name = "title", placeholder = "Title" >
        <br>
        <br>
        <textarea id = "bodytext" id="text" name="text" placeholder="Body Text"></textarea>
        <br>
        <br>
        <div id="label_form">
            <label id = "uploadbutton" for="file-ip-1" value= "Upload">Upload Files and Images</label>
            <input type="file" name = "file" id="file-ip-1" onchange="showPreview(event);" multiple>
        </div>
        <br>
        <div id = "filesviewdiv">
            <ul id = "horizontal-list">

            </ul>
        </div>
        <br>
        <div>
            <div style = "display:flex; justify-content: center; align-items: center; margin-bottom: 3rem;">
                <input type="submit", id = "submitbutton" value = "Submit"></submit>
            </div>
        </div>
    </form>
</div>
{% endblock %}