<!DOCTYPE html>
<head>
    <script type="text/javascript" src="[path to paramquery]/jsZip-2.5.0/jszip.min.js"></script>

    <script src="https://kit.fontawesome.com/dc046f3b4c.js" crossorigin="anonymous"></script>
    <script type = "text/javascript" src = "/static/scripts/resourcesscript.js"></script>
    <link href="/static/mainstyles/resources.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip-utils/0.1.0/jszip-utils.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/streamsaver@2.0.6/StreamSaver.min.js
"></script>
    <script src="
    https://cdn.jsdelivr.net/npm/zip@1.2.0/zip.min.js
    "></script>
    <script src="https://unpkg.com/fflate@0.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/fflate@0.8.0/umd/index.js"></script>
    <!-- Now, the global variable fflate contains the library -->
    
    <!-- If you're going buildless but want ESM, import from Skypack -->

</head>
{% extends "layout.html" %}
{% block maintitle %} | {{ course }}{% endblock %}s
{% block title %}{{ course }}{% endblock %}
{% block heading %}
    <div id = "titlediv">
        <a href = "/{{ course }}" style = "text-decoration: none;">
            <h1 id = "title">
                {{ course }}
            </h1>
        </a>
    </div>
{% endblock %}

{% block resources %}
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var course = "{{course}}"
        getfolders("/" + course)
    });
</script>

<!-- form for the uploading of files -->
<div id = "uploadformfog" onclick= "uploadoff()">
    <div id = form-group onclick = "uploadon(); event.cancelBubble=true;">
        <form id = "uploadresourceform" action = "/resources/{{ currentfolderrouteurl }}" method ="POST" enctype=multipart/form-data>
            <input name = "route" type="hidden" value="/{{ course }}">
            <input name = "type_of_form" type="hidden" value="uploadfile">
            <h3 id = "form-title">Upload a Resource!</h3>
            <br>
            <div class = "form-element-div">
                <input id = "formtitleinput", type = "text", name = "title", placeholder = "Title" >
            </div>
            <br>
            <div class = "form-element-div">
                <textarea id = "bodytext" id="text" name="body" rows="12" cols="50" placeholder="Body Text | Recommended"></textarea>
            </div>
            <br>
            <div class = "form-element-div">
                <label id = "uploadbutton" for="file-ip-1" value= "Upload">Upload Files and Images</label>
                <input type="file" name = "file" id="file-ip-1" onchange="showPreview(event);" multiple>
            </div>
            <br>
            <div id = "filesviewdiv">
                <ul id = "horizontal-list">

                </ul>
            </div>
            <br>
            <div class = "form-element-div">
                    <input type="submit", id = "submitbutton" value = "Submit"></submit>
            </div>
        </form>
    </div>
</div>

<div id = "newfolderformfog" onclick= "newfolderoff()">
    <div id = form-group onclick = "newfolderon(); event.cancelBubble=true;">
        <form id = "uploadresourceform" action = "/resources/{{ currentfolderrouteurl }}" method ="POST" enctype=multipart/form-data>
            <input name = "route" type="hidden" value="/{{ course }}">
            <input name = "type_of_form" type="hidden" value="newfolder">
            <h3 id = "form-title">New Folder</h3>
            <br>
            <div class = "form-element-div">
                <input id = "formtitleinput", type = "text", name = "name_of_folder", placeholder = "Name of Folder" >
            </div>
            <br>
            <div class = "form-element-div">
                <input type="submit", id = "submitbutton" value = "Submit"></submit>
            </div>
        </form>
    </div>
</div>
<!-- form for the uploading of files -->
<!-- tables for the files -->
<div id = "resourcesdiv">
<!-- Example single danger button -->
    <div id = "newactionheaders" onclick = "newfolderon()">
        <div class = "newbutton" onclick = "newfolderon()">
            <i class="fa-solid fa-folder-plus"></i>
            <h2>
                New Folder
            </h2>
        </div>
    </div>
    <div id = "actionheaders" onclick = "uploadon()">
        <i class="fa-solid fa-upload"></i>
        <h2>
            Upload
        </h2>
    </div>
    <div id = "actionheaders" onclick = "download_files()">
        <i class="fa-solid fa-download"></i>
        <h2>
            Download
        </h2>
    </div>
    <div id = "actionheaders">
        <i class="fa-solid fa-pen-to-square"></i>
        <h2>
            Apply for Moderator
        </h2>
    </div>
</div>

<br>
<div id = "routingdiv">
    <h3 id = "routing">{{ route }}</h3>
</div>
<br>
<div id = "resourcestablediv">
    <table id = "resourcestable">
        <tr>
            <th id = "tableheader"><i class="fa-solid fa-circle-check"></i></th>
            <th id = "tableheader" width = "2%">type</th>
            <th id = "tableheader"width ="50%">Name</th>
            <th id = "tableheader", width = "24%">Date Modified</th>
            <th id = "tableheader", width = "24%">Modified By</th>
        </tr>
        {% for foldersinfo in foldersinfo %}
        <tr id = "rowbox">
            <td class="title_info" id = "{{ foldersinfo[6] }}" hidden ></td>
            <td class = "checkbox" id="folder"><i class="fa-solid fa-circle-check"></td>
            <td id = "tablecells"><i class="fa-solid fa-folder"></i></td>
            <td id = "tablecells"><a href="/resources/{{ currentfolderrouteurl }}>{{ foldersinfo[6] }}" >{{ foldersinfo[6] }}</a></td>
            <td id = "tablecells"><a href="/static/resources/Algebra 1/Capture - Copy.PNG" >{{ foldersinfo[8] }}</a></td>
            <td id = "tablecells"><a href="/static/resources/Algebra 1/Capture - Copy.PNG" >{{ foldersinfo[5] }}</a></td>
        </tr>
        {% endfor %}
        {% for aws_resource_list in aws_resource_list %}
        <tr id = "rowbox">
            <td hidden class="title_info" id="{{aws_resource_list[4]}}">{{aws_resource_list[6]}}</td>
            <td name="{{aws_resource_list[4]}}" class = "checkbox" id="file"><i class="fa-solid fa-circle-check"></td>
            <td id = "tablecells"><i class="fa-solid fa-file"></i></td>
            <td id = "tablecells" style="overflow-wrap: break-word;"><a id="file_text" onclick="preview_resource('{{aws_resource_list[6]}}')" target="_blank">{{aws_resource_list[4]}}</a></td>
            <td id = "tablecells"><a href="https://{{BUCKET_NAME}}.s3.us-east-2.amazonaws.com/{{aws_resource_list[3]}}" target="_blank">{{aws_resource_list[1]}}</a></td>
        <td id = "tablecells"><a href="https://{{BUCKET_NAME}}.s3.us-east-2.amazonaws.com/{{aws_resource_list[3]}}" target="_blank">{{aws_resource_list[2]}}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% for aws_resource_list in aws_resource_list %}
        <div class="info_fog" id="{{aws_resource_list[6]}}" onclick="infofog_off('{{aws_resource_list[6]}}')">
            <div class="resourceinfodiv">
                <div>
                    <h1>
                        {{aws_resource_list[4]}}
                    </h1>
                    <br>
                    <h2>
                        {{aws_resource_list[5]}}
                    </h2>
                    <br>
                    <br>
                    <a href="https://{{BUCKET_NAME}}.s3.us-east-2.amazonaws.com/{{aws_resource_list[3]}}" target="_blank"><img src = "https://{{BUCKET_NAME}}.s3.us-east-2.amazonaws.com/{{aws_resource_list[3]}}"></a>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
<!-- tables for the files -->
{% endblock %}