<!DOCTYPE html>
<head>
    <script type="text/javascript" src="[path to paramquery]/jsZip-2.5.0/jszip.min.js"></script>

    <script src="https://kit.fontawesome.com/dc046f3b4c.js" crossorigin="anonymous"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename='/scripts/resourcesscript.js', _external=True, _scheme=scheme) }}"></script>
    <link href="{{ url_for('static', filename='/mainstyles/resources.css', _external=True, _scheme=scheme) }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip-utils/0.1.0/jszip-utils.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/streamsaver@2.0.6/StreamSaver.min.js
"></script>
    <script src="
    https://cdn.jsdelivr.net/npm/zip@1.2.0/zip.min.js
    "></script>
    <script src="https://unpkg.com/fflate@0.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/fflate@0.8.0/umd/index.js"></script>
    <!-- Now, the global variable fflate contains the library -->
    
    <!-- If you're going buildless but want ESM, import from Skypack -->

</head>
{% extends "layout.html" %}
{% block maintitle %} | {{ course }}{% endblock %}s
{% block title %}{{ course }}{% endblock %}
{% block heading %}
    <div id = "titlediv">
        <a href = "/{{ course }}" style = "text-decoration: none;">
            <h1 id = "title">
                {{ course }}
            </h1>
        </a>
    </div>
{% endblock %}
{% block course_special_buttons %}
<div class = "show-mobile">
    <div style="display:flex; justify-content:center; align-items:center; border-left:2px solid #DDDDDD; border-right:2px solid #DDDDDD;">
        <li class="sidebar-list-item" id = "grade_viewer">
            <a href="{{ course }}/postcreation" class="sidebar-link">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
            </a>
        </li>
        <li class="sidebar-list-item" id = "resources">
            <a href="resources/{{ course }}" class="sidebar-link">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M249.6 471.5c10.8 3.8 22.4-4.1 22.4-15.5V78.6c0-4.2-1.6-8.4-5-11C247.4 52 202.4 32 144 32C93.5 32 46.3 45.3 18.1 56.1C6.8 60.5 0 71.7 0 83.8V454.1c0 11.9 12.8 20.2 24.1 16.5C55.6 460.1 105.5 448 144 448c33.9 0 79 14 105.6 23.5zm76.8 0C353 462 398.1 448 432 448c38.5 0 88.4 12.1 119.9 22.6c11.3 3.8 24.1-4.6 24.1-16.5V83.8c0-12.1-6.8-23.3-18.1-27.6C529.7 45.3 482.5 32 432 32c-58.4 0-103.4 20-123 35.6c-3.3 2.6-5 6.8-5 11V456c0 11.4 11.7 19.3 22.4 15.5z"/></svg>
            </a>
        </li>
    </div>
</div>
{% endblock %}

{% block resources %}
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var course = "{{course}}"
        getfolders("/" + course)
    });
</script>

<!-- form for the uploading of files -->
{% if access == "granted" %}
<div id = "uploadformfog" onclick= "uploadoff()">
    <div id = form-group onclick = "uploadon(); event.cancelBubble=true;">
        <form id = "uploadresourceform" action = "/resources/{{ currentfolderrouteurl }}" method ="POST" enctype=multipart/form-data>
            <input name = "route" type="hidden" value="/{{ course }}">
            <input name = "type_of_form" type="hidden" value="uploadfile">
            <h3 id = "form-title">Upload a Resource!</h3>
            <br>
            <div class = "form-element-div">
                <input class="limited_form" id = "formtitleinput", type = "text", name = "title", placeholder = "Title" >
            </div>
            <br>
            <div class = "form-element-div">
                <textarea id = "bodytext" id="text" name="body" rows="12" cols="50" placeholder="Body Text | Recommended"></textarea>
            </div>
            <br>
            <div class = "form-element-div">
                <label id = "uploadbutton" for="file-ip-1" value= "Upload">Upload Files and Images</label>
                <input type="file" name = "file" id="file-ip-1" onchange="showPreview(event);" multiple>
            </div>
            <br>
            <div id = "filesviewdiv">
                <ul id = "horizontal-list">

                </ul>
            </div>
            <br>
            <div class = "form-element-div">
                    <input type="submit", id = "submitbutton" value = "Submit"></submit>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% if access == "granted" %}
<div id = "newfolderformfog" onclick= "newfolderoff()">
    <div id = form-group onclick = "newfolderon(); event.cancelBubble=true;">
        <form id = "uploadresourceform" action = "/resources/{{ currentfolderrouteurl }}" method ="POST" enctype=multipart/form-data>
            <input name = "route" type="hidden" value="/{{ course }}">
            <input name = "type_of_form" type="hidden" value="newfolder">
            <input id = "user_access_names" name = "user_access_names" type ="hidden" value="">
            <h3 id = "form-title">New Folder</h3>
            <br>
            <div class = "form-element-div">
                <select id = "formtitleinput", class="dropdown_users", type = "drop", name = "access_to_folder", placeholder = "Share Access to other Users" onchange="select_user(event)">
                    <option disabled selected hidden id = "placeholder" value="" >Share Access to Other Users</option>
                    <option value="+-" >Public</option>
                    {% for usernames in usernames %}
                        <option value="{{usernames}}" onclick="add_user_editable('{{usernames}}')">{{usernames}}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div id="user_selected">
                <ul class = "list_area">

                </ul>
            </div>
            <br>
            <br>
            <div class = "form-element-div">
                <input class="limited_form" id = "formtitleinput", type = "text", name = "name_of_folder", placeholder = "Name of Folder" >
            </div>
            <br>
            <div class = "form-element-div">
                <input type="submit", id = "submitbutton" value = "Submit"></submit>
            </div>
        </form>
    </div>
</div>
{% endif %}
<div class="alert_div">
    <h1 id="alert_text">
    </h1>
</div>
<!-- form for the uploading of files -->
<!-- tables for the files -->
<div id = "resourcesdiv">
<!-- Example single danger button -->
    {% if access == "granted" %}
    <div id = "newactionheaders" onclick = "newfolderon()">
        <div class = "newbutton" onclick = "newfolderon()">
            <i class="fa-solid fa-folder-plus"></i>
            <h2>
                New Folder
            </h2>
        </div>
    </div>
    {% endif %}
    {% if access == "granted" %}
    <div id = "actionheaders" onclick = "uploadon()">
        <i class="fa-solid fa-upload"></i>
        <h2>
            Upload
        </h2>
    </div>
    {% endif %}
    <div id = "actionheaders" onclick = "download_files()">
        <i class="fa-solid fa-download"></i>
        <h2>
            Download
        </h2>
    </div>
    <div id = "actionheaders" onclick = "deletion()">
        <i class="fa-solid fa-trash"></i>
        <h2>
            Delete
        </h2>
    </div>
    <div id = "actionheaders">
        <i class="fa-solid fa-pen-to-square"></i>
        <h2>
            Apply for Moderator
        </h2>
    </div>
</div>

<br>
<div id = "routingdiv">
    <!-- <h3 id = "routing">{{ route }}</h3> -->
</div>
<br>
<div id = "resourcestablediv">
    <table id = "resourcestable">
        <tr>
            <th id = "tableheader"><i class="fa-solid fa-circle-check"></i></th>
            <th id = "tableheader" width = "2%">type</th>
            <th id = "tableheader"width ="50%">Name</th>
            <th id = "tableheader", width = "24%">Date Modified</th>
            <th id = "tableheader", width = "24%">Modified By</th>
        </tr>
        {% for foldersinfo in foldersinfo %}
        <tr id = "rowbox" class="{{foldersinfo[0]}}">
            <td class="title_info" id = "{{ foldersinfo[6] }}" hidden ></td>
            <td class = "checkbox" id="folder"><i class="fa-solid fa-circle-check"></td>
            <td id = "tablecells"><i class="fa-solid fa-folder"></i></td>
            <td id = "tablecells"><a href="/resources/{{ currentfolderrouteurl }}>{{ foldersinfo[6] }}" >{{ foldersinfo[6] }}</a></td>
            <td id = "tablecells"><a href="/static/resources/Algebra 1/Capture - Copy.PNG" >{{ foldersinfo[8] }}</a></td>
            <td id = "tablecells"><a href="/static/resources/Algebra 1/Capture - Copy.PNG" >{{ foldersinfo[5] }}</a></td>
        </tr>
        {% endfor %}
        {% for aws_resource_list in aws_resource_list %}
        <tr id = "rowbox" class="{{aws_resource_list[7]}}">
            <td hidden class="title_info" id="{{aws_resource_list[4]}}">{{aws_resource_list[6]}}</td>
            <td name="{{aws_resource_list[4]}}" class = "checkbox" id="file"><i class="fa-solid fa-circle-check"></td>
            <td id = "tablecells"><i class="fa-solid fa-file"></i></td>
            <td id = "tablecells" style="overflow-wrap: break-word;"><a id="file_text" onclick="preview_resource('{{aws_resource_list[6]}}')" target="_blank">{{aws_resource_list[4]}}</a></td>
            <td id = "tablecells"><a href="https://{{BUCKET_NAME}}.s3.us-east-2.amazonaws.com/{{aws_resource_list[3]}}" target="_blank">{{aws_resource_list[1]}}</a></td>
        <td id = "tablecells"><a href="https://{{BUCKET_NAME}}.s3.us-east-2.amazonaws.com/{{aws_resource_list[3]}}" target="_blank">{{aws_resource_list[2]}}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% for aws_resource_list in aws_resource_list %}
        <div class="info_fog" id="{{aws_resource_list[6]}}" onclick="infofog_off('{{aws_resource_list[6]}}')">
            <div class="resourceinfodiv">
                <div>
                    <h1>
                        {{aws_resource_list[4]}}
                    </h1>
                    <br>
                    <h2>
                        {{aws_resource_list[5]}}
                    </h2>
                    <br>
                    <br>
                    <a href="https://{{BUCKET_NAME}}.s3.us-east-2.amazonaws.com/{{aws_resource_list[3]}}" target="_blank"><img onerror="this.src= "{{ url_for('static', filename='/images/file.png', _external=True, _scheme=scheme) }}" src = "https://{{BUCKET_NAME}}.s3.us-east-2.amazonaws.com/{{aws_resource_list[3]}}"></a>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
<!-- tables for the files -->
{% endblock %}