
{% extends "layout.html" %}
{% block title %}{{ post["title"] }}{% endblock %}
{% block head %}
<head>
    <link href="/static/mainstyles/viewpoststyles.css" rel="stylesheet">
    <script type = "text/javascript" src= "/static/scripts/viewpostscript.js"></script>
</head>
{% endblock %}
{% block heading %}
<div id = "titlediv">
    <a href = "/{{ course }}" style = "text-decoration: none;">
        <h1 style = "color:#40798C;">
            {{ course }}
        </h1>
    </a>
</div>
{% endblock %}

{% block body %}
<div id = "postsubdiv">
    <diV style = "padding:1rem; background-color:#161b22;">
        <p>{{ post["class"] }}</p>
        <p>{{ post["timedate"] }}</p>
        <h1 id = "title">
            {{ post["title"] }}
        </h1>
    </diV>
    <hr class="solid">
    <div id = "bodytext">
        <p>{{ post["body"] }}</p>
    </div>
    {% for images in images %}
        <link href="/static/userfiles/{{ post["id"] }}/{{ images["imageid"] }}">
        <img style = "width:100%"src = "/static/userfiles/{{ post["id"] }}/{{ images["imageid"] }}">
    {% endfor %}
    {% for files in files %}
        <link href="/static/userfiles/{{ post["id"] }}/{{ files["fileid"] }}">
        <a href="/static/userfiles/{{ post["id"] }}/{{ files["fileid"] }}">{{ files["fileid"] }}</a>
    {% endfor %}
</div>

{% endblock %}

{% block reply %}
    <div id = "postsubdiv">
        <div id = "replydiv">
            <h4 id = "title" style = "margin-top:1rem">Comment as {{ session_user_id }}</h4>
            <form action ="/{{ course }}/post/{{ post["id"] }}", id = "replyform", method = "POST" enctype=multipart/form-data>
                <br>
                <br>
                <input type = "hidden", name = "formname" value = "replyform">
                <textarea id = "inputbodytext" name="text" rows="6" cols="120" onkeyup = "checktext()" onchange="checktext()" placeholder="Body Text"></textarea>
                <br>
                <br>
                <label id = "uploadbutton" for="file-ip-1" value= "Upload">Upload Image</label>
                <input type="file" name = "file" id="file-ip-1" accept="image/*" onchange="showPreview(event);" multiple>
                <br>
                <div id = "filesviewdiv">
                    <ul id = "horizontal-list">

                    </ul>
                </div>
                <div>
                    <div style = "fit-content; margin:auto">
                        <input type="submit" id = "submitbutton" class = "disabled" value = "Submit" style = "margin-left:45%" ></submit>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <hr class="solid">
        {% for replies in replies %}
        <div style = "padding:1rem">
            <p>{{ replies["username"] }}</p>
            <p>{{ replies["timedate"] }}</p>
            <p>
                {{ replies["body"] }}
                    {% for replyimages in replyimages %}
                    {% if replies["id"] == replyimages["replyid"] %}
                        <link href="/static/userimagesreplies/{{ replies["id"] }}/{{ replyimages["replyimageid"] }}">
                        <img style = "width:100%", src = "/static/userimages-replies/{{ replies["id"] }}/{{ replyimages["replyimageid"] }}">
                    {% endif %}
                {% endfor %}
                </ul>
            </p>
        </div>
        <hr class="solid">
        {% endfor %}
    </div>
{% endblock %}
