
{% extends "layout.html" %}
{% block title %}{{ postinfo["title"] }}{% endblock %}
{% block head %}
<head>
    <link href="/static/mainstyles/viewpoststyles.css" rel="stylesheet">
    <script type = "text/javascript" src= "/static/scripts/viewpostscript.js"></script>
</head>
{% endblock %}
{% block heading %}
<div id = "titlediv">
    <a href = "/{{ course }}" style = "text-decoration: none;">
        <h1 style = "color:#40798C;">
            {{ course }}
        </h1>
    </a>
</div>
{% endblock %}

{% block body %}
<div id = "postsubdiv">
    <diV style = "padding:1rem; background-color:#161b22;">
        <p>{{ postinfo["class"] }}</p>
        <p>{{ postinfo["time"] }}</p>
        <p>{{ postinfo["date"] }}</p>
        <h1 id = "title">
            {{ postinfo["title"] }}
        </h1>
    </diV>
    <hr class="solid">
    <div id = "bodytext">
        <p>{{ postinfo["body"] }}</p>
    </div>
    <hr class="solid">
    <div id = "image-view-div">
        <ul id="image-horizontal-list">
                {% for imagesinfo in imagesinfo %}
                <li>
                    <div class = "imagecontainer">
                        <a onclick = "showimage('https://studyist.s3.us-east-2.amazonaws.com/userfiles/{{ imagesinfo[1] }}/{{ imagesinfo[2] }}');">
                            <link href="https://studyist.s3.us-east-2.amazonaws.com/userfiles/{{ imagesinfo[1] }}/{{ imagesinfo[2] }}" onlick = "showimage();">
                            <img src = "https://studyist.s3.us-east-2.amazonaws.com/userfiles/{{ imagesinfo[1] }}/{{ imagesinfo[2] }}" onlick = "showimage();">
                        </a>
                    </div>
                </li>
                {% endfor %}
        </ul>
    </div>
    <div id = "overlay" onclick = "overlay_off();">

    </div>
    <hr class="solid">
    {% for filesinfo in filesinfo %}
        <link href="/static/userfiles/{{ postinfo["postid"] }}/{{ filesinfo["files"] }}">
        <div id = filesdiv>
            <a href="/static/userfiles/{{ postinfo["postid"] }}/{{ filesinfo["files"] }}" target="_blank">
                <div id = "fileviewdiv">
                    <img src = "/static/images/file.png">
                    <div>
                        {{ filesinfo["files"] }}
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block reply %}
    <div id = "postsubdiv">
        <div id = "replydiv">
            <h4 id = "title" style = "margin-top:1rem">Comment as {{ session_user_id }}</h4>
            <form action ="/{{ course }}/post/{{ postinfo["id"] }}", id = "replyform", method = "POST" enctype=multipart/form-data>
                <br>
                <br>
                <input type = "hidden", name = "formname" value = "replyform">
                <textarea id = "inputbodytext" name="text" rows="6" cols="120" onkeyup = "checktext()" onchange="checktext()" placeholder="Body Text"></textarea>
                <br>
                <br>
                <label id = "uploadbutton" for="file-ip-1" value= "Upload">Upload Files and Images</label>
                <input type="file" name = "file" id="file-ip-1" onchange="showPreview(event);" multiple>
                <br>
                <div id = "filesviewdiv">
                    <ul id = "horizontal-list">

                    </ul>
                </div>
                <div>
                    <div style = "fit-content; margin:auto">
                        <input type="submit" id = "submitbutton" class = "disabled" value = "Submit" style = "margin-left:45%" ></submit>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <hr class="solid">
        {% for repliesinfo in repliesinfo %}
        <div style = "padding:1rem">
            <p>{{ repliesinfo["username"] }}</p>
            <p>{{ repliesinfo["time"] }} {{ repliesinfo["date"] }}</p>
            <br>
            <p>{{ repliesinfo["body"] }}</p>
                {% for repliesimagesinfo in repliesimagesinfo %}
                    {% if repliesinfo[replyid] == repliesimagesinfo[replyid] %}
                        <div id = "imagediv">
                            <link href="/static/userfilesreplies/{{ repliesinfo.replyid }}/{{ repliesimagesinfo.images }}">
                            <img src = "/static/userfiles-replies/{{ repliesinfo.replyid }}/{{ repliesimagesinfo.images }}">

                        </div>
                    {% endif %}
                {% endfor %}
                {% for repliesfiles in repliesfiles %}
                    {% if repliesinfo["replyid"] == repliesfilesinfo["replyid"] %}
                    <div id = "filesdiv">
                        <a href="/static/userfiles/{{repliesinfo['replyid']}}/{{ repliesfiles['files'] }}">
                            <div id = "fileviewdiv">
                                <img src = "/static/images/file.png">
                                <div>
                                    {{ repliesfilesinfo["files"] }}
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </p>
        </div>
        <hr class="solid">
        {% endfor %}
    </div>
{% endblock %}
