.calendar_div{
    width: fit-content;
    height: 30%;
    margin: auto;
}
.calendar_div table{
    width: auto;
}

.calendar_div table tbody tr th {
    background-color: #59C0E4;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: larger;
}

.calendar_div table tbody tr td {
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 2rem;
    text-align: center;
}

.back_foward_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.back_foward_buttons svg{
    width: 2rem;
    height: 2rem;
    fill: white;
    margin: 2rem;
}