html, body {
  margin: 0;
  padding: 0;
}

.crop {
    height: 1000px;
    width:100%;
    overflow: hidden;
}
.crop img {
    width:100%;
}


#titlediv{
  /* Allow the centering to work */
	margin: 0 auto;
  background: #CFD7C7;
  width: fit-content;
  border: 1px;
  float: left;
}

#divtitlegrouping { /* Allow the centering to work */
  overflow: hidden;
	margin: 0;
  background:#CFD7C7 ;
  width: 100%;
  height: fit-content;
  display: block;
  padding-left: 0;
  border: 1px;
}

#returnhome{
  text-decoration: none;
  padding-left: 2;
  font-size:80;
  color:#40798C;
  font-family: 'Teko', sans-serif;
  font-weight:5000;
  display: block;
  list-style-type: none;
  margin:0;
  text-align:center;
}


#navbox {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
  background: #CFD7C7;
  width: fit-content;
  padding-right: 2rem;
  border: 1px;
  float: right;
}

#horizontal-list li {
		display: inline;
}



