html, body {
  margin: 0;
  padding: 0;
}

:root {
  --accent-color: #d7dadc;
  --light-gray: #161b22;
  --medium-gray: #0d1117;
  --background-color: #010409;
  --header-height:56px;
  --animation-duration: 200ms;
  --animation-timing-curve: ease-in-out;
  --spacer-height:0px;
  --lightblue-highlight: #59C0E4;
  --core-purple-dark: #06002E;
  --core-purple-light: #6E62CE;
}

.crop {
    height: 80%;
    overflow: hidden;
}
.crop img {
    width:50%;
}

#background_parrot_image_div{
  display:flex;
  justify-content: flex-end;
}
#parrot_background_image{
  width: 1024px;
}

#introbox{
  width: 100%;
  height: fit-content;
  position: relative;
  margin-bottom: 3rem;
}

#introphrase{
  padding: 8rem;
  padding-right: 16rem;
  border:1rem solid white;
  border-radius: 1rem;
  margin: auto;
  width: 70%;
  height: fit-content;
  overflow-wrap: normal;
  position: absolute;
  bottom: 343px;
  right: 358px;
}
#introphrase h1{
  font-size: 3.5rem;
  color: white;
}

#titlediv{
  /* Allow the centering to work */
  background: var(--core-purple-dark);
  width: fit-content;
  border: 1px;
}

#divtitlegrouping { /* Allow the centering to work */
	margin: .5rem 0 .5rem 0;
  background: var(--core-purple-dark);
  width: 100%;
  height: fit-content;
  border: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem 0 .5rem;
}

#returnhome{
  text-decoration: none;
  padding-left: 2;
  font: size 10px;;
  color:white;
  font-family: 'Teko', sans-serif;
  font-weight:5000;
  display: block;
  list-style-type: none;
  margin:0;
  text-align:center;
}


#navbox {
  background: var(--core-purple-dark);
  width: fit-content;
  border: 1px;
}

#horizontal-list li {
		display: inline;
}


#signupfog {
  overflow: hidden;
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top:0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}



#loginfog {
  overflow: hidden;
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top:0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


/*Login ----------------------------------------------- */

#login-item{
margin-left:2rem;
float: right;
width: fit-content;
border-radius: 12px;
border: 1px solid var(--core-purple-light);
list-style-type: none;
cursor: pointer;
}

#login-item:hover{
background-color: #e3e3e3;
}

#login-item a {
margin:0;
text-decoration: none;
color:var(--core-purple-light);
display: block;
padding: 0.675rem;
font-size:16;
font-family: 'Teko', sans-serif;
font-weight:800;
}
/* Login -----------------------------------------------------------------*/
/* Signup -----------------------------------------------------------------*/
#signup-item{
margin-left:2rem;
float: left;
width: fit-content;
border-radius: 12px;
border: 1px solid var(--core-purple-light);
background-color:var(--core-purple-light);
list-style-type: none;
float:right;
cursor: pointer;
}

#signup-item:hover{
background-color: #376a7a;
}

#signup-item a {
text-decoration: none;
color:white;
display: block;
padding: 0.625rem;
font-size:16;
font-family: 'Teko', sans-serif;
font-weight:800;
}

/* Signup -----------------------------------------------------------------*/


.form-element{
  margin:auto;
  padding:1rem;
  width: 20rem;
}

.form-control{
  width: 20rem;
  height: 3rem;
  border: 1px solid #161B22;
  border-radius: 12px;
  padding:1rem;
  margin:0;
  font-size:18

}

::placeholder {
  font-size:18;
}

.btn-primary{
  background-color: var(--core-purple-light); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius:12px;
}

.google_auth_btn{
  margin-top:5rem;
  margin: 5rem auto auto auto;
  padding:.5rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-color: #d6d6d6;
  width: 50%;
  border-radius: .65rem;
}

.google_auth_div{
  color:rgb(33, 36, 44);
  width: 100%;
  text-align: center;
  vertical-align: center;
}

.google_auth_btn img{
  width:2rem;
  float: left;
}

.google_auth_btn a{
  text-decoration: none;
}

body{
  background-color: var(--core-purple-dark) !important;

}

.subsection_text_div{
  width: 50%;
  overflow-wrap: normal;
  margin-left: 3rem;
  color:white;
  margin-bottom: 8%;
}
.subsection_text{
  color: white;
  font-size: 5rem;
}

.box_system_row_div{
  padding: 3rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-wrap: wrap;
}

.content_container{
  background-image:  url("../images/intropage_gradients/1.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 100%;
  height: 22rem;
  width: 20%;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  margin: 2.5%;
}

#social_div{
  padding: 1rem;
  width: 30%;
  margin: 1.665%;
  height: 10rem;
  color: white;
  background-color: var(--core-purple-light);
  border-radius: .5rem;
}

#social_div a{
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 1000px){
  #form-group{
    margin:auto;
    padding-top:6rem;
    text-align:center;
    background-color:var(--light-gray);
    width:100%;
    border:10px solid var(--light-gray);
    border-radius: 12px;
    display:block
  }
  .mobile-form-div{
    display:flex;
    height:100%;
    flex-direction: column;
  }
  .mobile-form-div form{
    height: fit-content;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:auto;
    margin-top:5rem;
    width: 100%;
  }
  .mobile-form-div h1{
    color:white;
    font-size:5rem;
  }
  .form-element{
    width: 100%;
    margin-top:10%;
    flex-grow: 1;
  }
  .form-element input{
    height: 10rem;
    margin-top:10%;
    margin:auto;
  }
  .form-element input,
  input::placeholder {
      font-size: 3rem;
  }
  .btn-primary{
    background-color: var(--core-purple-light); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3rem;
    cursor: pointer;
    border-radius:12px;
  }
  #exit-form{
    display: block;
    width: 100%;

  }
  #x_clickbox{
    width: fit-content;
    height: fit-content;
  }

  #exit-form svg{
    width: 4rem;
    float: left;
    padding-left: 1rem;
    fill: white;
  }
  #returnhome{
    font-size: 10rem;
  }
  #navbox{
    margin: auto;
  }

  #signup-item a {
    text-decoration: none;
    color:white;
    display: block;
    padding: 0.625rem;
    font-size:3rem;
    font-family: 'Teko', sans-serif;
    font-weight:800;
  }
  #login-item a {
    margin:0;
    text-decoration: none;
    color:var(--core-purple-light);
    display: block;
    padding: 0.675rem;
    font-size:3rem;
    font-family: 'Teko', sans-serif;
    font-weight:800;
  }
  #divtitlegrouping{
    padding: .5rem 1rem 1rem .5rem;
  }
  .google_auth_btn{
    width:70%;
    height: fit-content;
  }
  .google_auth_btn img{
    width:5rem;
    float: left;
  }
  .google_auth_btn h4{
    font-size: 3rem;
  }
  
  .google_auth_btn a{
    text-decoration: none;
  }


  #background_parrot_image_div{
    display:flex;
    justify-content: flex-end;
  }
  #parrot_background_image{
    width: 1024px;
  }
  
  #introbox{
    width: 100%;
    height: fit-content;
    position: relative;
  }
  
  #introphrase{
    padding: 8rem;
    padding-right: 16rem;
    border:none;
    border-radius: 1rem;
    margin: auto;
    width: 70%;
    height: fit-content;
    overflow-wrap: normal;
    position: absolute;
    bottom: 0;
    right: 388px;
  }
  #introphrase h1{
    font-size: 3.5rem;
    color: white;
  }
  #display_mobile{
    display: block;
  }
  #display_desktop{
    display:none;
  }

  .content_container{
    width: 100%;
  }
  .content_container h1{
    font-size: 4rem;
  }
  .content_container h4{
    font-size: 2.5rem;
  }
  box_system_row_div{
    align-items: center;
  }
  #social_div{
    width: 30%;
  }
  #social_div a h4{
    font-size: 1.35rem;
  }
}

@media only screen and (min-width: 1000px){
  #form-group{
    margin:auto;
    padding:1rem;
    text-align:center;
    background-color:white;
    width: 40rem;
    border:10px solid #d6d6d6;
    border-radius: 12px;
  }

  #loginfog {
    padding-top:11rem;
  }
  #signupfog {
    padding-top: 11rem;

  }
  #exit-form{
    display:none;
  }
  #display_mobile{
    display: none;
  }
  #display_desktop{
    display:block;
  }
}